body {
    font-family: Tahoma, 'Microsoft Yahei', sans-serif;
    color: #555;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    background: #fff;
}

h1 {
    color: #375EAB;
    text-transform: uppercase;
    margin: 0;
    font-size: 300%;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

h2 {
    background: #E0EBF5;
}
h2, h3, h4, h5 {
    color: #375EAB;
}

#content {
    width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/**-------------------------------------------------------
   Menu
----------------------------------------------------------*/
#table-of-contents {
    position: relative;
    float: right;
    width: 280px;
    padding: 20px 0 0 40px;
    font-size: 90%;
}

#table-of-contents h2 {
    display: none;
}

#table-of-contents ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#table-of-contents ul a {
    display: block;
    height: 28px;
    overflow: hidden;
    border-left: 2px solid #fff;
    padding-left: 15px;
    color: #777;
}
#table-of-contents ul a:hover {
    border-left: 2px solid #E0EBF5;
    color: #333;
}

#text-table-of-contents {
    position: static;
}
#text-table-of-contents a.active {
    border-left: 2px solid  #375EAB;
    color: #333;
}
#text-table-of-contents.top {
    position: static;
}
#text-table-of-contents.middle {
    position: fixed;
    top: 20px;
}
#text-table-of-contents.bottom {
    position: fixed;
    bottom: 200px;
}
/**-------------------------------------------------------
   Content
----------------------------------------------------------*/
.outline-2 {
    width: 640px;
    overflow: hidden;
}

/**-------------------------------------------------------
   Table
----------------------------------------------------------*/
.outline-2 table {
    width: 100%;
    border-style:none;
    border-spacing: 0;
    border-collapse: colapse;

}

.outline-2 table thead, .outline-2 table tbody, .outline-2 table colgroup {
    border-style:none;
    font-size: 90%;
}

.outline-2 table thead tr {
    border-bottom: 2px solid #ddd;
    border-top: none;
    font-weight: bold;
    text-align: left;
}

.outline-2 table tr {
    border-top: 1px solid #ddd;
}

.outline-2 table tbody tr:hover {
    background:  #E0EBF5;
}

.outline-2 table td {
    padding: 1px 10px;
}

/**-------------------------------------------------------
   Source code
----------------------------------------------------------*/
.src {
    padding: 6px 10px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    overflow: auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


/**-------------------------------------------------------
   Footer
----------------------------------------------------------*/
#postamble {
    clear: both;
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    text-align: right;
    border-top: 1px solid #ccc;
    font-size: 80%;
}

#postamble p {
    margin: 0;
}